<div class="widget">
    <h6 class="title">Search Docs</h6>
    <iframe src="https://duckduckgo.com/search.html?site=usetania.org&prefill=Search by DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;" frameborder="0"></iframe>
</div>
<div class="widget">
    <h6 class="title">Getting Started</h6>
    <hr>
    <ul class="link-list">
        <li>
            <a href="#">What is Tania?</a>
        </li>
        <li>
            <a href="#">Requirements</a>
        </li>
        <li>
            <a href="#">Installation</a>
        </li>
        <li>
            <a href="#">Getting Help</a>
        </li>
    </ul>
</div>
<div class="widget">
    <h6 class="title">Using Tania</h6>
    <hr>
    <ul class="link-list">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Area</a>
        </li>
        <li>
            <a href="#">Crop</a>
        </li>
        <li>
            <a href="#">Reservoir</a>
        </li>
        <li>
            <a href="#">Inventory</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
    </ul>
</div>