<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center-xs">
            <div class="col-md-8 col-xs-12 text-center-xs">
                <p>Designed & built with all the &hearts; of food &amp; agriculture by 
                    <a href="https://tanibox.com/" target="_blank">Tanibox</a>. 
                    Maintained by the 
                    <a href="https://github.com/orgs/Tanibox/people" target="_blank">core team</a> <br/>with the help of our 
                    <a href="https://github.com/Tanibox/tania-core/graphs/contributors" target="_blank">contributors</a>. 
                    Current version 1.5.1. Code licensed 
                    <a href="https://github.com/Tanibox/tania-core/blob/master/LICENSE" target="_blank">Apache 2.0</a>.
                </p>
            </div>
            <div class="col-md-4 col-xs-12 text-right text-center-xs mt-xs-24">
                <ul class="small list-inline social-list">
                    <li>
                        <a href="https://github.com/tanibox/tania-core" target="_blank" class="h3">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UseTania" target="_blank" class="h3">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{ "js/jquery.min.js" | absLangURL  }}"></script>
<script src="{{ "js/bootstrap.min.js" | absLangURL  }}"></script>
<script src="{{ "js/flickr.js" | absLangURL  }}"></script>
<script src="{{ "js/flexslider.min.js" | absLangURL  }}"></script>
<script src="{{ "js/lightbox.min.js" | absLangURL  }}"></script>
<script src="{{ "js/masonry.min.js" | absLangURL  }}"></script>
<script src="{{ "js/twitterfetcher.min.js" | absLangURL  }}"></script>
<script src="{{ "js/spectragram.min.js" | absLangURL  }}"></script>
<script src="{{ "js/ytplayer.min.js" | absLangURL  }}"></script>
<script src="{{ "js/countdown.min.js" | absLangURL  }}"></script>
<script src="{{ "js/smooth-scroll.min.js" | absLangURL  }}"></script>
<script src="{{ "js/parallax.js" | absLangURL  }}"></script>
<script src="{{ "js/scripts.js" | absLangURL  }}"></script>