<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO Description -->
<meta name="description"
	content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

<!-- Facebook Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description"
	content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image"
	content="{{ with .Param "tania.image" }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.image }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
{{ with .Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />{{ end }}
{{ with .Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />{{ end }}

<!-- Twitter Card -->
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description"
	content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
{{ if .IsHome -}}
{{ if ge .Site.Params.image.width 300 -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Site.Params.image.url | absLangURL }}" />
{{- else -}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image"
	content="{{ with .Site.Params.image }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.logo }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
{{- end }}
{{- else -}}
{{ if ge (.Param "tania.image.width") 300 -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Param "tania.image.url" | absLangURL }}" />
{{- else -}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image"
	content="{{ with .Param "tania.image" }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.logo }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
{{- end }}
{{- end }}
{{ with .Site.Params.twitter -}}
<meta name="twitter:site" content="@{{ .username }}" />
{{- end }}

<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,800" rel="stylesheet">

<!-- Facebook Pixel Code -->
<script>
	! function (f, b, e, v, n, t, s) {
		if (f.fbq) return;
		n = f.fbq = function () {
			n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		};
		if (!f._fbq) f._fbq = n;
		n.push = n;
		n.loaded = !0;
		n.version = '2.0';
		n.queue = [];
		t = b.createElement(e);
		t.async = !0;
		t.src = v;
		s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
		'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '250881212460717');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=250881212460717&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->

<!-- Checker Script
<style>
      * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      }
    </style>
-->
