{{ template "_internal/google_analytics_async.html" . }}
<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ "css/bootstrap.css" | absURL }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/flexslider.css" | absURL }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/lightbox.min.css" | absURL }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/theme.css" | absURL }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/custom.css" | absURL}}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="{{ "images/favicon.png" | absURL }}"/>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,800" rel="stylesheet">