{{ template "_internal/google_analytics_async.html" . }}
<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO Description -->
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

<!-- Facebook Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ with .Param "tania.image" }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.image }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
{{ with .Site.Language }}<meta property="og:locale" content="{{ .Lang }}" />{{ end }}
{{ with .Site.Params.facebook.appid }}<meta property="fb:app_id" content="{{ . }}" />{{ end }}

<!-- Twitter Card -->
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ if .IsHome -}}
  {{ if ge .Site.Params.image.width 300 -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ .Site.Params.image.url | absLangURL }}"/>
  {{- else -}}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="{{ with .Site.Params.image }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.logo }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
  {{- end }}
{{- else -}}
  {{ if ge (.Param "tania.image.width") 300 -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ .Param "tania.image.url" | absLangURL }}"/>
  {{- else -}}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="{{ with .Param "tania.image" }}{{ .url | absLangURL }}{{ else }}{{ with .Site.Params.logo }}{{ .url | absLangURL }}{{ end }}{{ end }}" />
  {{- end }}
{{- end }}
{{ with .Site.Params.twitter -}}
<meta name="twitter:site" content="@{{ .username }}"/>
{{- end }}

<link href="{{ "css/bootstrap.css" | absLangURL  }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/flexslider.css" | absLangURL  }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/lightbox.min.css" | absLangURL  }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/theme.css" | absLangURL  }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "css/custom.css" | absLangURL }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="{{ "images/favicon.png" | absLangURL  }}"/>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,800" rel="stylesheet">