<div class="widget">
    <h6 class="title">Search Docs</h6>
    <iframe src="https://duckduckgo.com/search.html?site=usetania.org&prefill=Search by DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;" frameborder="0"></iframe>
</div>
<div class="widget">
    <h6 class="title">Getting Started</h6>
    <hr>
    <ul class="link-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.gettingstarted }}
        <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>
<div class="widget">
    <h6 class="title">Using Tania</h6>
    <hr>
    <ul class="link-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.usingtania }}
        <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>