{{ define "main" }}
<!-- Content -->
<section id="page-content">
    <div class="container">
        <div class="single-post">
            <!-- Post single item-->
            <div class="post-item">
                <div class="post-item-wrap">
                    <div class="post-item-description">
                        <h2 class="text-center">{{ .Title }}</h2>
                        <div class="p-t-40 p-b-40 text-center">
                            {{ .Content }}
                        </div>
                        <div class="row d-flex justify-content-center p-t-80 p-b-80">
                            <form class="col-12 col-lg-9" method="POST" action="https://formspree.io/taniboxmail@gmail.com">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Το ονομα σας">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="_replyto" placeholder="Η διευθυνση ηλεκτρονικου ταχυδρομειου σας (email)">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Αφηστε μας το μηνυμα σας :)"></textarea>
                                </div>
                                <button class="btn btn-primary" id="submit-contact-en" type="submit">Αποστολη</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Post single item-->
        </div>
    </div>
</section> 
<!-- end: Content -->
{{ end }}
