<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    {{- partial "head.html" . -}}
    <body class="scroll-assist">
        {{- partial (printf "header.%s.html" .Lang) . -}}
        <div class="main-container">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial (printf "footer.%s.html" .Lang) . -}}
        <script>
            window.FontAwesomeConfig = {
                searchPseudoElements: true
            }
        </script>
        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"1f7f29f6d34d3ecb1d87527d0","lid":"969ad93677","uniqueMethods":true}) })</script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
