{{ define "main" }}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center text-center-xs">
                <div class="post-title">
                    <h2 class="inline-block">{{ .Title }}</h2>
                </div>
            </div>
        </div>
        {{ .Content }}
        <div class="row mt64 mb40">
            {{ range .Pages }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-snippet pb24">
                <a href="{{.Permalink}}">
                    <img src="{{ .Params.featuredimg }}" />
                </a>
                <div class="inner">
                    <a href="{{.Permalink}}">
                        <h4 class="mb0">{{.Title}}</h4>
                        <span class="inline-block mb16">{{.Date.Format "2 January 2006"}}</span> by 
                        <span>{{ .Params.author }}</span>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}