{{ define "main" }}
<section class="post pb64">
    <div class="container-fluid">
        <div class="row text-center text-center-xs">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="pb48 pt48"><a href="/blog"><i class="fas fa-arrow-left"></i> Back to Blog</a></div>
                <div class="post-title">
                    <h2 class="inline-block">{{ .Title }}</h2>
                    <ul class="post-meta">
                        <li>
                            <i class="fas fa-user"></i>
                            <span>{{ .Params.author }}</span>
                        </li>
                        <li>
                            <i class="fas fa-calendar"></i>
                            <span>{{ .Date.Format "2 January 2006" }}</span>
                        </li>
                    </ul>     
                </div>
                <div class="pt40 pb40">
                    <img src="{{ .Params.featuredimg }}">
                </div>
            </div>
        </div>
        <div class="row post-snippet">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="mb64">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}