{{ define "main" }}
<section class="post pb64">
    <div class="container-fluid">
        <div class="row text-center text-center-xs">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="pb48 pt48"><a href="/blog"><i class="fas fa-arrow-left"></i> Back to Blog</a></div>
                <div class="post-title">
                    <div>
                        <h2 class="inline-block">{{ .Title }}</h2>
                    </div>
                    <ul class="post-meta">
                        <li>
                            <i class="fas fa-user"></i>
                            <span>{{ .Params.author }}</span>
                        </li>
                        <li>
                            <i class="fas fa-calendar"></i>
                            <span>{{ .Date.Format "2 January 2006" }}</span>
                        </li>
                    </ul>     
                </div>
                <div class="pt40 pb40">
                    <img src="{{ .Params.featuredimg }}" title="{{ .Params.imgtitle }}" alt="{{ .Params.imgalt }}">
                </div>
            </div>
        </div>
        <div class="row post-snippet">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div class="mb64">
                    {{ .TableOfContents }}
                    <br>
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class="row post-snippet">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                {{ partial "disqus.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}