#headline {
  z-index: 888;
}

#footer-roadmap {
  background-color: #fff;
}

#timeline {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
#timeline:before {
  content: '';
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  background-color: #1d1d1d;
}

#timeline .entries {
  width: calc(90% - 120px);
  margin: auto;
  position: relative;
  left: -5px;
}
#timeline .entries .entry {
  width: calc(50% - 80px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
#timeline .entries .entry:not(:first-child) {
  margin-top: -60px;
}
#timeline .entries .entry .title {
  font-size: 32px;
  margin-bottom: 12px;
  position: relative;
  color: #fff;
}
#timeline .entries .entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #1D1D1D;
  background-color: #1D1D1D;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -109px;
  z-index: 10;
}
#timeline .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);
          transform: translate(8px, -50%);
}
#timeline .entries .entry .body,
#timeline .entries .entry .past h2 {
  color: #909A99 !important;
}
#timeline .entries .entry .past {
  color: #909A99;
}
#timeline .entries .entry .body p {
  line-height: 1.4em;
}
#timeline .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
#timeline .entries .entry:nth-child(2n) .title:before {
  left: -99px;
}
#timeline .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}