{{ define "main" }}
<section class="page-title page-title-3 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center text-center-xs">
                <h3 class="uppercase">roadmap of 2019</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 hidden-sm">
                <div class="widget">
                    <h6 class="title">Table of Contents</h6>
                    <hr>
                    <ul class="link-list">
                        <li>
                            <a href="#rm1">Agricultural GIS</a>
                        </li>
                        <li>
                            <a href="#rm2">Localisation</a>
                        </li>
                        <li>
                            <a href="#rm3">IoT Integration</a>
                        </li>
                        <li>
                            <a href="#rm4">Plugin System</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 mb-xs-24">
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <h3 class="inline-block" id="rm1">Agricultural GIS</h3>
                    </div>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    </p>
                    <ul class="bullets">
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Inventore veritatis et quasi architecto</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Accusamus et iusto odio dignissimos ducimus</li>
                    </ul>
                </div>
                
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <h3 class="inline-block" id="rm2">Localisation</h3>
                    </div>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                    <ul class="bullets">
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Inventore veritatis et quasi architecto</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Accusamus et iusto odio dignissimos ducimus</li>
                    </ul>
                </div>

                <div class="post-snippet mb64" id="rm3">
                    <div class="post-title">
                        <h3 class="inline-block">Internet of Things (IoT) Integration</h3>
                    </div>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    </p>
                </div>

                <div class="post-snippet mb64" id="rm4">
                    <div class="post-title">
                        <h3 class="inline-block">Plugin System</h3>
                    </div>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi:
                    </p>
                    <ul class="bullets">
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Inventore veritatis et quasi architecto</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Accusamus et iusto odio dignissimos ducimus</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}