{{ define "main" }}
<!-- Page title -->
<section id="page-title" class="background-white text-theme" data-animate="fadeIn" data-animate-delay="100">
    <div class="container">
        <div class="page-title">
            <h1>Demokratisasi Pertanian Presisi</h1>
        </div>
    </div>
</section>
<!-- end: Page title -->

<!-- Content -->
<section id="page-content">
    <div class="container">
        <div class="single-post">
            <!-- Post single item-->
            <div class="post-item">
                <div class="post-item-wrap">
                    <div class="post-item-description">
                        {{ .Content }}
                    </div>
                </div>
            </div>
            <!-- end: Post single item-->
        </div>
    </div>
</section> 
<!-- end: Content -->
{{ end }}
