{{ define "main" }}
<!-- Page title -->
<section id="page-title" class="background-white text-theme" data-animate="fadeIn" data-animate-delay="100">
    <div class="container">
        <div class="page-title">
            <h1>Democratise Precision Farming</h1>
        </div>
    </div>
</section>
<!-- end: Page title -->

<!-- Content -->
<section id="page-content">
    <div class="container">
        <div class="single-post">
            <!-- Post single item-->
            <div class="post-item">
                <div class="post-item-wrap">
                    <div class="post-item-description">
                        <div class="p-t-40 p-b-40" data-animate="fadeInUp" data-animate-delay="700">
                            <img src="/images/kebuntania.svg" class="img-fluid">
                        </div>
                        <div data-animate="fadeIn" data-animate-delay="200">
                            <p class="">
                                We believe that precision agriculture is the future solution of food-producing, since by 2050 more than 60% of the world’s population will live in cities and it will increase the potential of food insecurities. Transforming food systems is an integral part of a sustainable development path for future cities. It also provides a mechanism for improving food security and creating sustainable food patterns. 
                            </p>
                            <p class="">
                                However, today's farming has its own problems that need to be tackled first before planning for the transformation. One of them is the problem of the sustainability of the farm business itself. A lot of farmers—especially urban farmers—do not include business in the equation. That’s why we build Tania, to help farmers run their farm business.
                            </p>
                        </div>
                        <div class="p-t-40" data-animate="fadeIn" data-animate-delay="400">
                            <h2 class="text-center">Our Mission</h2>
                            <p class="">
                                Tania is a software designed and built for farmers and developers interested in precision agriculture. We’re focusing on accessible, flexible, secure, and easy-to-use technology that works in any setup a farmer can afford—so that they can focus on the operation of their farm business. It also offers connectivity to the Internet of Things (IoT) devices—such as sensors and actuators—to help farmers gain more control on monitoring their farm from wherever they are, whenever they need it.
                            </p>
                            <blockquote class="p-t-40 p-b-40 m-t-40 m-b-40 background-light">
                                We want to make the smart and precision farming technique affordable for farmers and growers all over the world&mdash;so that they can grow their business and spend their resources efficiently.
                            </blockquote>
                            <p class="">
                                We believe in democratising access to precision farming to any kind of farmers by utilising the power and <a href="https://opensource.org/osd-annotated">freedoms of open source</a>. Our inclusive and growing community of people contributing and collaborating on this project, driven by the passion to help all of us reach our goals. 
                            </p>
                        </div>
                        <div class="p-t-40" data-animate="fadeIn" data-animate-delay="900">
                            <h2 class="text-center">Our Story</h2>
                            <p class="">
                                Tania started in 2016 when we&mdash;<a href="https://retnoika.github.io" target="_blank">Retno Ika</a> and <a href="http://asepbagja.com" target="_blank">Asep Bagja</a>&mdash;were frustrated with existing farm management software on the market. They were either too big, too complicated or too expensive and still doesn’t suit our needs. We need a lean software that is capable to connect to various sensors and actuators installed on our small backyard garden and manage them while we are on-the-go.
                            </p>
                            <p class="">
                                The name of <strong>Tania</strong> itself comes from Indonesian words: <code>pe<strong>tani</strong> Indonesi<strong>a</strong></code> which means <em>Indonesian farmer</em>. In Hungary, Tania (<code>Tanya</code> to be exact) means <u>farm</u>. The name of <em>farm management system</em> sounded like a sophisticated product, too. So we agreed to called this software as <strong>farmer's journal</strong>, where we can also keep notes here and there of our farming activities too.
                            </p>
                            <p class="">
                                We built the first version of Tania using PHP. But this language cannot handle connectivity to IoT devices. Today, Tania is standing strong on Go lang and VueJS, and licensed under Apache 2.0.
                            </p>
                            <p class="">
                                We want to provide the opportunity for anyone to farming precisely and utilise environmentally sustainable practices to meet the necessities of the growing population.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Post single item-->
        </div>
    </div>
</section> 
<!-- end: Content -->
{{ end }}
