<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container-wide">
            <div class="row">
                <div class="col-12">
                    <ul class="list-inline">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.footer }}
                        <li><a href="{{ .URL | absLangURL  }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-xl-6">
                    <p>
                        Σχεδιασμένο & φτιαγμένο με όλη την &hearts; για τη γεωργία παραγωγής τροφής από το  
                        <a href="https://tanibox.com/" target="_blank">Tanibox</a>. 
                        Συντηρείται από την 
                        <a href="https://github.com/orgs/Tanibox/people" target="_blank">βασική ομάδα</a> με τη βοήθεια των 
                        <a href="https://github.com/Tanibox/tania-core/graphs/contributors" target="_blank">συμμετέχοντων</a>. 
                        Τρέχουσα έκδοση 1.7.0. Άδεια έκδοσης 
                        <a href="https://github.com/Tanibox/tania-core/blob/master/LICENSE" target="_blank">Apache 2.0</a>.
                    </p>
                </div>
                <div class="col-12 col-xl-3 text-lg-right">
                    <a class="github-button" href="https://github.com/tanibox" data-show-count="true" aria-label="Follow @tanibox on GitHub">Ακολουθείστε το @tanibox</a> <a class="github-button" href="https://github.com/tanibox/tania-core" data-icon="octicon-star" data-show-count="true" aria-label="Star tanibox/tania-core on GitHub">Star</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->