<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container-wide">
            <div class="row">
                <div class="col-12">
                    <ul class="list-inline">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.footer }}
                        <li><a href="{{ .URL | absLangURL  }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-xl-6">
                    <p>Designed &amp; built with all the &hearts; of food &amp; agriculture by 
                        <a href="https://tanibox.com/" target="_blank">Tanibox OÜ</a>. 
                        Maintained by the 
                        <a href="https://github.com/orgs/Tanibox/people" target="_blank">core team</a>, with the help of our 
                        <a href="https://github.com/Tanibox/tania-core/graphs/contributors" target="_blank">contributors</a>. 
                        Current version 1.7.0. Code licensed with 
                        <a href="https://github.com/Tanibox/tania-core/blob/master/LICENSE" target="_blank">Apache 2.0</a>.
                    </p>
                </div>
                <div class="col-12 col-xl-3 text-lg-right">
                    <a class="github-button" href="https://github.com/tanibox" data-show-count="true" aria-label="Follow @tanibox on GitHub">Follow @tanibox</a> <a class="github-button" href="https://github.com/tanibox/tania-core" data-icon="octicon-star" data-show-count="true" aria-label="Star tanibox/tania-core on GitHub">Star</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->