<!--
<div class="widget">
    <h6 class="title">Search Docs</h6>
    <iframe src="https://duckduckgo.com/search.html?site=usetania.org&prefill=Search by DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;" frameborder="0"></iframe>
</div>
-->
<div class="widget widget-newsletter">
    <form id="widget-search-form-sidebar" action="search-results-page.html" method="get">
        <div class="input-group">
          <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search here...">
          <div class="input-group-append">
            <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
    </form>
</div>
<div class="widget clearfix widget-categories">
    <h4 class="widget-title">Memulai</h4>
    <ul class="list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.gettingstarted }}
        <li>
            <a href="{{ .URL | absLangURL  }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>
<div class="widget clearfix widget-categories">
    <h4 class="widget-title">Menggunakan Tania</h4>
    <ul class="list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.usingtania }}
        <li>
            <a href="{{ .URL | absLangURL  }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>