{{ define "main" }}
<section class="image-square right mb-xs-0">
    <div class="col-md-6 image mt80 mt-xs-48 mb-xs-0 p0">
        <div class="v-align-transform"><img src="{{ "images/taniapeople.svg" | absLangURL  }}" alt="Tania - Open Source Farm Management System"></div>
    </div>
    <div class="col-md-6 content mt48 mb-xs-0 mt-xs-0">
        <div class="row mt-xs-0">
            <div class="col-xs-12 col-md-12 text-center-xs">
                <div class="mb40 mb-xs-24 mt-xs-0">
                    <h1 class="hero bolder gilroy">Lacak dan Amati Kebun <br/>dari Satu Tempat</h1>
                </div>
                <p class="lead mb40 color-dark">
                    TANIA adalah jurnal petani yang bebas digunakan dan bersumber terbuka untuk memudahkan Anda mengakses informasi lahan pertanian dari manapun Anda berada.
                </p>
                <div class="mt40">
                    <a id="download-windows" href="http://eepurl.com/gtyRTT" class="btn btn-lg" target="_blank"><i class="fab fa-windows"></i><i class="fab fa-linux"></i> unduh edisi komunitas (x64)</a>
                    <br> atau kompilasi sendiri kode Tania. Kunjungi GitHub kami.
                </div>
                <p>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/tanibox" data-show-count="true" aria-label="Follow @tanibox on GitHub">Follow @tanibox</a>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/tanibox/tania-core" data-icon="octicon-star" data-show-count="true" aria-label="Star tanibox/tania-core on GitHub">Star</a>
                </p>
                <p class="color-grey">Versi terkini 1.7.0. Lisensi kode <a href="https://github.com/Tanibox/tania-core/blob/master/LICENSE" target="_blank" class="color-grey">Apache 2.0</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary">
    <div class="container mb40 mt40 mb-xs-0">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center text-center-xs">
                <h3 class="uppercase">Tania berbasis komunitas-kolektif</h3>
                <p class="lead mt32">
                    Tania adalah perangkat lunak untuk manajemen pertanian bersumber terbuka yang dihost di GitHub, diprakarsai oleh <a href="https://tanibox.com" class="color-dark" target="_blank">Tanibox</a> sejak tahun 2017. Komunitas Tania terdiri dari berbagai orang yang berdedikasi tinggi seperti pengembang perangkat lunak, pengguna, petani dan ahli agrikultur yang membuat sistem ini makin baik. Mereka berkontribusi dan membagikan pengalaman serta pengetahuannya melalui:
                </p>
                <ul class="list-inline mt32 mt-xs-24">
                    <li>
                        <a href="https://github.com/tanibox/tania-core" target="_blank">
                            <i class="h1 fab fa-github"></i><p>GitHub</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/usetania" target="_blank">
                            <i class="h1 fab fa-telegram-plane"></i><p>Telegram</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center text-center-xs mt-xs-0">
                <h4 class="bolder">Kontributor Kode</h4>
                <a href="https://github.com/tanibox/tania-core/graphs/contributors" target="_blank">
                    <img src="https://opencollective.com/tania/contributors.svg?width=890&button=false" />
                </a>
                <div class="row mt-xs-24">
                    <div class="col-12 text-center-xs mt-xs-0">
                        <p class="mt32">
                            Tania adalah bagian dari keluarga besar <strong>Open Collective</strong>.<br>Anda juga dapat mendukung komunitas kami
                            agar proyek pengembangan Tania makin kokoh dengan menjadi sponsor atau backer.
                        </p>
                        <a href="https://opencollective.com/tania#section-contribute" target="_blank">
                            <img src="https://opencollective.com/tania/contribute/button@2x.png?color=blue" width=300 />
                        </a>
                    </div>
                </div>
                <h4 class="bolder mt32">Kontributor Finansial</h4>
                <script src="https://opencollective.com/tania/banner.js"></script>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center text-center-xs">
                <div class=""><img src="{{ "images/Mission-ID.svg" | absLangURL  }}"></div>
            </div>
        </div>
    </div>
    <div class="container mt80 mb48 mt-xs-48 mb-xs-24">
        <div class="row mb-xs-24 text-center text-center-xs mb48">
            <h3>Mengapa Tania Cocok untuk <br/>Pengembang Kode dan Petani Moderen?</h3>
        </div>
        <div class="row mb-xs-24">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="feature feature-1">
                    <div class="text-center color-blue">
                        <div class="icon-feature"><img src="{{ "images/icon-iot.svg" | absLangURL  }}"></div>
                        <h4 class="mt24 uppercase">Dibangun untuk IoT</h4>
                    </div>
                    <p>
                        Ingin menghubungkan sensor iklim dan pengatur irigasi supaya tetap bisa dikendalikan dari jauh saat sedang pergi keluar kota? Tenang saja, Tania dibangun untuk pecinta IoT seperti kamu!
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="feature feature-1">
                    <div class="text-center color-secondary">
                        <div class="icon-feature"><img src="{{ "images/icon-plugin.svg" | absLangURL  }}"></div>
                        <h4 class="mt24 uppercase">Dapat Diperpanjang</h4>
                    </div>
                    <p>
                        Modul plugin yang dibangun untuk menyesuaikan sistem Tania dengan kebutuhan. Anda juga dapat membuat sensor untuk kebutuhan bisnis dan pengawasan lahan Anda sendiri.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="feature feature-1">
                    <div class="text-center color-green">
                        <div class="icon-feature"><img src="{{ "images/icon-github.svg" | absLangURL  }}"></div>
                        <h4 class="mt24 uppercase">open source</h4>
                    </div>
                    <p>
                        Tania akan selamanya gratis dan berupa kode sumber terbuka untuk memberi Anda kebebasan mengelola lahan sesuai keinginan. Kodenya tersedia di <a href="https://github.com/Tanibox/tania-core">GitHub</a> jika Anda ingin berkontribusi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary">
    <div class="container mt48 mb48">
        <div class="row mb-xs-24 text-center text-center-xs">
            <div class="col-md-12">
                <h4>Kami percaya pada demokratisasi pertanian presisi dan mendukung #GlobalGoals</h4>
                <div class="col-md-6 col-md-offset-3 mt24">
                    <a href="https://www.un.org/sustainabledevelopment/" target="_blank"><img src="{{ "images/un-sdg.png" | absLangURL  }}"></a>
                </div>
            </div>
        </div>
        <div class="row text-center text-center-xs fade-on-hover mt80">
            <a href="/about" class="thin">Pelajari lebih lanjut tentang kami <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>
{{ end }}