{{ define "main"}}
    <main id="main">
      <div class="container">
      	<div class="row">
		    <div class="col-md-6 content mt80 mb-xs-0 mt-xs-0">
		        <h2>Oops! This is awkward...</h2>
		        <p>You're looking for seedlings that we've never sown. Maybe it's not in this field? <a href="{{ "/blog" | relURL }}">Please try to find it in our Blog</a></p>
		    </div>
		    <div class="col-md-6 image mt80 mt-xs-48 mb-xs-0 p0">
		        <div class=""><img src="{{ "images/taniapeople.svg" | absLangURL  }}"></div>
		    </div>
      	</div>
      </div>
    </main>
{{ end }}
