{{ define "main" }}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div class="post-snippet mb64">
                    <div class="post-title text-center">
                        <h2 class="inline-block">{{ .Title }}</h2>
                    </div>
                    <div class="text-center">
                        {{ .Content }}
                    </div>
                    <!-- Ranges through content/shop/*.md -->
                    <div class="row">
                        <div class="col-sm-12 col-md-6 product">
                            <h3>Device</h3>
                        </div>
                    </div>
                    <div class="row">
                    {{ range .Pages }}
                        {{ if .Params.tania.shop_featured }}
                        <div class="col product-featured">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <a href="{{.Param "tania.shop_link"}}" target="_blank">
                                        <img src="{{ .Param "tania.image.url" }}" alt="{{.Title}}">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <h4>
                                        <a href="{{ .Param "tania.shop_link" }}" target="_blank">{{ .Title }}</a>
                                    </h4>
                                    <p class="meta-date">{{.Param "tania.shop_price"}}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 product">
                            <h3>Apparels</h3>
                        </div>
                    </div>
                    <div class="row">
                    {{ range .Pages }}
                        {{ if (not .Params.tania.shop_featured) }}
                        <div class="col-sm-12 col-md-6 product">
                            <a href="{{.Param "tania.shop_link"}}" target="_blank">
                                <img src="{{ .Param "tania.image.url" }}" alt="{{.Title}}">
                            </a>
                            <h4>
                                <a href="{{ .Param "tania.shop_link" }}" target="_blank">{{ .Title }}</a>
                            </h4>
                            <p class="meta-date">{{.Param "tania.shop_price"}} - Checkout at Teespring</p>
                        </div>
                        {{ end }}
                    {{ end }}
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <a href="https://teespring.com/stores/usetania?utm_source=web_shop_link&utm_medium=web&utm_campaign=teespring_sale" target="_blank" class="btn btn-default">
                                See more at Teespring
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    fbq('track', 'ViewContent', {
        value: "Open Shop"
    });
</script>
{{ end }}