{{ define "main" }}
<section class="bg-dark">
    <div class="container">
        <div class="row text-center text-center-xs">
            <h2 class="bolder gilroy">Εκδημοκρατικσμός της Γεωργίας Ακριβείας</h2>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="">
                    Πιστεύουμε ότι η αστική γεωργία αποτελεί τη μελοντική λύση της παραγωγής τροφής διότι μέχρι το 2050 περισσότερο από το 60% του παγκόσμιου πληθυσμού θα κατοικεί στις πόλεις και αυτό θα αυξήσει την ενδεχόμενη αστική ανασφάλεια τροφής. Ο μετασχηματισμός των συστημάτων αστικής επισιτιστικής ασφάλειας αποτελεί ένα αναπόσταστο κομμάτι του δρόμου της βιώσιμης ανάπτυξης για τις πόλεις. Επιπλέον παρέχει ένα μηχανισμό για βελτίωση της αστικής επισιτιστικής ασφάλειας και δημιουργεί βιώσιμα επισιτιστικά πρότυπα. 
                </p>
                <p class="">
                    Ωστόσο, η αστική γεωργία έχει τα δικά της προβλήματα τα οποία χρειάζεται πρώτα να λυθούν προτού γίνει ο σχεδιασμός για το μετασχηματισμό. Ένα απο αυτά είναι το πρόβλημα της βιωσιμότητας της ίδια της αγροτικής επιχείρησης. Πολλοί αγρότες - ειδικά αστικοί αγρότες - δεν περιλαμβάνουν την επιχείρηση στην εξίσωση. Για το λόγο αυτό δημιουργούμε το Tania, για να βοηθήσουμε τους αγρότες να διαχειριστούν την αγροτική τους επιχειρήση.
                </p>
            </div>
        </div>
        <div class="row mt64 mb64 mt-xs-24 mb-xs-24">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="bolder gilroy text-center text-center-xs">Η Αποστολή μας</h2>
                <p class="">
                    Το Tania είναι ένα λογισμικό σχεδιασμένο και φτιαγμένο για αγρότες και προγραμματιστές οι οποίοι ενδιαφέρονται για τη γεωργία ακριβείας. Εστιάζουμε σε προσβασιμη, ευέλικτη, ασφαλή και εύκολη στη χρήση τεχνολογία η οποία να μπορεί να λειτουργεί σε οποιαδήποτε διαμόρφωση είναι προσιτή για τον αγρότη - ώστε να μπορούν οι αγρότες να αφοσιωθούν στη λειτουργία της αγροτικής επιχείρησής τους. Επίσης προσφέρει συνδεσιμότητα σε συσκεύες του Διαδικτύου των Πραγμάτων (IoT) - όπως αισθητήρες και κινητήρες - ώστε να βοηθήσει τους αγρότες να αποκτήσουν μεγαλύτερο έλεγχο στην παρακολούθηση της φάρμας τους από οπουδήποτε βρίσκονται, οποτεδήποτε το χρειάζονται.
                </p>
                <blockquote>
                    Θέλουμε να κάνουμε την έξυπνη γεωργία και την γεωργία ακριβείας προσιτή σε αγρότες και καλλιεργητές σε όλο τον κόσμο.
                </blockquote>
                
                <p class="">
                    Πιστεύουμε στον εκδημοκρατισμό της πρόσβασης στη γεωργία ακριβείας για οποιοδήποτε τύπο αγρότη αξιοποιώντας την ενέργεια και <a href="https://opensource.org/osd-annotated">τις ελευθερίες του ανοιχτού κώδικα</a>. Η αυξανόμενη κοινότητα των ανθρώπων που συνεισφέρουν και συνεργάζονται σε αυτό το έργο, οδηγούμενοι απο το πάθος, βοηθούν όλους εμάς να πετύχουμε τους στόχους μας. 
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row masonry masonryfadeIn">
            <div class="col-md-8 col-md-offset-2 masonry-item">
                <img src="{{ "images/kebuntania.svg" | absLangURL  }}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mt48 mt-xs-24">
                <h2 class="bolder gilroy text-center text-center-xs">Η Ιστορία μας</h2>
                <p class="">
                    Το Tania ξεκίνησε το 2016 όταν εμείς &mdash; η <a href="https://retnoika.github.io" target="_blank">Retno Ika</a> και ο <a href="http://asepbagja.com" target="_blank">Asep Bagja</a>&mdash;ενοχληθήκαμε με τα λογισμικά διαχείρισης γεωργίας που υπήρχαν στην αγορά. Ήταν είτε πολύ μεγάλα και ιδιαίτερα πολύπλοκα είτε πολύ ακριβά και παρόλα αυτά δεν κάλυπταν τις ανάγκες μας. Χρειαζόμαστε ένα περιεκτικό λογισμικό το οποίο είναι δυνατό να συνδεθεί με διάφορους αισθητήρες και κινητήρες εγκατεστημένους στο μικρό μας κήπο στην πίσω αυλή και να τους διαχειριζόμαστε όσο βρισκόμαστε σε κίνηση.
                </p>
                <p class="">
                    Το όνομα του <strong>Tania</strong> προέρχεται απο τις Ινδονησιακές λέξεις: pe<u>tan</u>i Indones<u>ia</u> το οποίο σημαίνει <em>Ινδονησιακός αγρότης</em>. Στα Ουγγρικα, η λέξη Tania σημαίνει <u>φάρμα</u>. Το όνομα του <em>συστήματος διαχείρησης φάρμας</em> ηχούσε και ως ένα ιδιαίτερα προϊόν. Έτσι συμφωνήσαμε να ονομάσουμε αυτό το λογισμικό ως το <strong>ημερολόγιο του αγρότη</strong>, όπου μπορούμε επίσης να κρατάμε σημειώσεις εδώ και εκεί για τις αγροτικές δραστηριότητες.
                </p>
                <p class="">
                    Δημιουργήσαμε την πρώτη έκδοση του Tania χρησιμοποιώντας PHP. Αλλά η γλώσσα αυτή δεν μπορεί να διαχειριστεί τη συνδεσιμότητα με συσκευές IoT. Σήμερα, το Tania βασίζεται κατά κύριο λόγο στη γλώσσα Go και το VueJS, και εκδίδεται κάτω από την άδεια Apache 2.0.
                </p>
                <p class="">
                    Θέλουμε να παρέχουμε τη δυνατότητα σε οποιονδήποτε να εφαρμόζει γεωργία ακριβείας και περιβαλλοντικά βιώσιμες πρακτικές για την κάλυψη των αναγκών των αστικών δομών.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mb-xs-24 text-center text-center-xs mb80">
            <h4 class="bolder gilroy">Υποστηρίζουμε το #GlobalGoals</h4>
            <div class="col-md-6 col-md-offset-3 mt24">
                <img src="{{ "images/un-sdg.png" | absLangURL  }}">
            </div>
        </div>
        <div class="row mb-xs-24">
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-2.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-8.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-9.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-11.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-12.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-13.png" | absLangURL  }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
