{{ define "main" }}
<section class="bg-dark">
    <div class="container">
        <div class="row text-center text-center-xs">
            <h2 class="bolder gilroy">Democratise Precision Farming</h2>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="">
                    We believe that urban agriculture is the future solution of food-producing because by 2050 more than 60%  of the world’s population will live in cities and it will increase the potential of urban food insecurity. Transforming urban food systems is an integral part of a sustainable development path for cities. It also provides a mechanism for improving urban food security and creating sustainable food patterns. 
                </p>
                <p class="">
                    However, urban farming has its own problems that need to be tackled first before planning for the transformation. One of them is the problem of the sustainability of the farm business itself. A lot of farmers—especially urban farmers—do not include business in the equation. That’s why we build Tania, to help farmers run their farm business.
                </p>
            </div>
        </div>
        <div class="row mt64 mb64 mt-xs-24 mb-xs-24">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="bolder gilroy text-center text-center-xs">Our Mission</h2>
                <p class="">
                    Tania is a software designed and built for farmers and developers interested in precision agriculture. We’re focusing on accessible, flexible, secure, and easy-to-use technology that works in any setup a farmer can afford—so that they can focus on the operation of their farm business. It also offers connectivity to the Internet of Things (IoT) devices—such as sensors and actuators—to help farmers gain more control on monitoring their farm from wherever they are, whenever they need it.
                </p>
                <blockquote>
                    We want to make the smart and precision farming technique affordable for farmers and growers all over the world.
                </blockquote>
                
                <p class="">
                    We believe in democratising access to precision farming to any kind of farmers by utilising the power and <a href="https://opensource.org/osd-annotated">freedoms of open source</a>. Our inclusive and growing community of people contributing and collaborating on this project, driven by the passion to help all of us reach our goals. 
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row masonry masonryfadeIn">
            <div class="col-md-8 col-md-offset-2 masonry-item">
                <img src="{{ "images/kebuntania.svg" | absLangURL  }}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mt48 mt-xs-24">
                <h2 class="bolder gilroy text-center text-center-xs">Our Story</h2>
                <p class="">
                    Tania started in 2016 when we&mdash;<a href="https://retnoika.github.io" target="_blank">Retno Ika</a> and <a href="http://asepbagja.com" target="_blank">Asep Bagja</a>&mdash;were frustrated with existing farm management software on the market. They were either too big, too complicated or too expensive and still doesn’t suit our needs. We need a lean software that is capable to connect to various sensors and actuators installed on our small backyard garden and manage them while we are on-the-go.
                </p>
                <p class="">
                    The name of <strong>Tania</strong> itself comes from Indonesian words: pe<u>tan</u>i Indones<u>ia</u> which means <em>Indonesian farmer</em>. In Hungary, Tania means <u>farm</u>. The name of <em>farm management system</em> sounded like a sophisticated product, too. So we agreed to called this software as <strong>farmer's journal</strong>, where we can also keep notes here and there of our farming activities too.
                </p>
                <p class="">
                    We built the first version of Tania using PHP. But this language cannot handle connectivity to IoT devices. Today, Tania is standing strong on Go lang and VueJS, and licensed under Apache 2.0.
                </p>
                <p class="">
                    We want to provide the opportunity for anyone to do precision farming and utilise environmentally sustainable practices to meet the necessities of urban settings.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mb-xs-24 text-center text-center-xs mb80">
            <h4 class="bolder gilroy">We support #GlobalGoals</h4>
            <div class="col-md-6 col-md-offset-3 mt24">
                <img src="{{ "images/un-sdg.png" | absLangURL  }}">
            </div>
        </div>
        <div class="row mb-xs-24">
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-2.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-8.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-9.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-11.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-12.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-13.png" | absLangURL  }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}