{{ define "main" }}
<section class="bg-dark">
    <div class="container">
        <div class="row text-center text-center-xs">
            <h2 class="bolder gilroy">Demokratisasi Pertanian Presisi</h2>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead">
                    Pertanian urban adalah masa depan dari produksi pangan dunia karena pada tahun 2050 diprediksi lebih dari 60% populasi manusia akan hidup di kota, sehingga akan meningkatkan potensi kerawanan pangan di perkotaan. Mengubah sistem pangan perkotaan adalah bagian integral dari jalur pembangunan berkelanjutan untuk kota. Ia juga dapat menyediakan mekanisme untuk meningkatkan ketahanan pangan perkotaan dan menciptakan pola pangan yang berkelanjutan.
                </p>
            </div>
        </div>
        <div class="row mt64 mb64 mt-xs-24 mb-xs-24">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="bolder gilroy text-center text-center-xs">Misi Kami</h2>
                <p class="lead">
                    Tania adalah perangkat lunak yang dirancang dan dibangun untuk semua orang yang tertarik pada dan berkecimpung dalam pertanian. Kami fokus pada teknologi yang dapat diakses, fleksibel, aman dan mudah digunakan yang bekerja di banyak pengaturan peralatan yang Anda sediakan—sehingga Anda dapat fokus melakukan tugas-tugas di lapangan. Ia juga menawarkan konektivitas ke perangkat <em>Internet of Things</em> (IoT) seperti sensor dan aktuator untuk membantu Anda mendapatkan lebih banyak kontrol dan dengan mudah memantau lahan bisnis Anda.
                </p>
                <p class="lead">
                    Kami percaya pada demokratisasi pertanian presisi dan <a href="https://opensource.org/osd-annotated">kebebasan yang dibawa oleh teknologi sumber terbuka</a>. Komunitas kami yang inklusif dan berkembang berkontribusi dan berkolaborasi dalam proyek ini, didorong oleh semangat untuk membantu Anda mencapai tujuan.
                </p>
                <p class="lead">
                    Melalui Tania, misi kami adalah membuat teknik pertanian yang cerdas dan presisi terjangkau bagi petani dan petani di seluruh dunia.
                </p>
            </div>
        </div>
        <div class="row masonry masonryfadeIn">
            <div class="col-md-8 col-md-offset-2 masonry-item">
                <img src="{{ "images/kebuntania.svg" | absLangURL  }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mt48 mt-xs-24">
                <h2 class="bolder gilroy text-center text-center-xs">Cerita Dibalik Tania</h2>
                <p class="lead">
                    Proyek Tania dimulai di tahun 2016 ketika <a href="https://retnoika.github.io" target="_blank">Retno Ika</a> dan <a href="http://asepbagja.com" target="_blank">Asep Bagja</a> frustrasi pada sistem manajemen pertanian yang ada di pasaran. Sistem-sistem tersebut terlalu rumit dan sangat mahal, namun masih juga tidak sesuai dengan kebutuhan. Mereka membutuhkan perangkat lunak manajemen pertanian yang ramping, mudah digunakan, dan mampu terhubung ke berbagai sensor dan aktuator yang dipasang di kebun sayur di halaman rumah agar mereka tetap dapat mengawasi dan mengelolanya saat sedang bepergian.
                </p>
                <p class="lead">
                    Nama <strong>Tania</strong> sendiri berasal dari singkatan pe<u>tan</u>i Indones<u>ia</u> dan dalam bahasa Hungaria, Tania (Tanya) berarti "<em>tanah pertanian</em>".
                </p>
                <p class="lead">
                    Versi pertama Tania dibangun menggunakan bahasa pemrograman PHP. Setelah siap digunakan, ternyata bahasa ini tidak dapat menangani konektivitas <em>realtime</em> ke perangkat IoT. Kini, Tania menggunakan Go lang dan VueJS dengan menggunakan lisensi Apache 2.0.
                </p>
                <p class="lead">
                    Kami ingin memberikan peluang bagi siapa saja untuk menjalankan pertanian presisi dan memanfaatkan praktik pertanian yang ramah lingkungan untuk memenuhi kebutuhan pengaturan kota. Dan kami terbuka untuk segala bentuk saran dan umpan balik yang dapat bermanfaat bagi seluruh pengguna dan kontributor Tania.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mb-xs-24 text-center text-center-xs mb80">
            <h4 class="bolder gilroy">Kami mendukung program UN #GlobalGoals</h4>
            <div class="col-md-6 col-md-offset-3 mt24">
                <a href="https://www.un.org/sustainabledevelopment/" target="_blank"><img src="{{ "images/un-sdg.png" | absLangURL  }}"></a>
            </div>
        </div>
        <div class="row mb-xs-24">
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-2.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-8.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-9.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-11.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-12.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-13.png" | absLangURL  }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}