{{ define "main" }}
<section class="bg-dark">
    <div class="container">
        <div class="row text-center text-center-xs">
            <h2 class="bolder gilroy">Democratise Precision Farming</h2>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead">
                    Urban agriculture is the future of food producing because by 2050 more than 60%  of the world’s population will live in cities and it will increase the potential of urban food insecurity. Transforming urban food systems is an integral part of a sustainable development path for cities. It also provides a mechanism for improving urban food security and creating sustainable food patterns.
                </p>
            </div>
        </div>
        <div class="row mt64 mb64 mt-xs-24 mb-xs-24">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="bold text-center text-center-xs">Our Mission</h2>
                <p class="lead">
                    Tania is a software that is designed and built for everyone interested in agriculture. We're focusing on an accessible, flexible, secure and easy to use technology that works in many setup you can afford—so that you can focus on performing your tasks on the field. It also offers connectivity to the Internet of Things devices such as sensors and actuators to help you gain more control and easily monitor your farm.
                </p>
                <p class="lead">
                    We believe in democratising precision farming and the <a href="https://opensource.org/osd-annotated">freedoms that come with open source technology</a>. Our inclusive and growing community of people contributing and collaborating on to this project, driven by the passion to help you reach your goals.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="bold text-center text-center-xs">Our Story</h2>
                <p class="lead">
                    Tania started in 2016 when <a href="https://retnoika.github.io" target="_blank">Retno Ika</a> and <a href="http://asepbagja.com" target="_blank">Asep Bagja</a> are frustrated with existing farm management software on the market. They were either too complicated or too expensive and still doesn’t suit their needs. They need a lean farm management software that is capable to connect to various sensors and actuators installed on backyard garden and manage them while they are on-the-go.
                </p>
                <p class="lead">
                    The first version of Tania was built using PHP. But this language cannot handle connectivity to IoT devices. Today, Tania is built on Go lang and VueJS, and licensed under Apache 2.0.
                </p>
                <p class="lead">
                    We want to provide the opportunity for anyone to do precision farming and utilise environmentally sustainable practices to meet the necessities of urban settings.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mb-xs-24 text-center text-center-xs mb80">
            <h4>We support #GlobalGoals</h4>
            <div class="col-md-6 col-md-offset-3 mt24">
                <img src="{{ "images/un-sdg.png" | absLangURL  }}">
            </div>
        </div>
        <div class="row mb-xs-24">
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-2.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-8.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-9.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-11.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-12.png" | absLangURL  }}">
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="feature feature-1">
                    <img src="{{ "images/sdg-13.png" | absLangURL  }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}