{{ define "main" }}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <h2 class="inline-block">{{ .Title }}</h2>
                    </div>
                    {{ .Content }}
                    <form method="POST" action="https://formspree.io/taniboxmail@gmail.com">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Το ονομα σας">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="_replyto" placeholder="Η διευθυνση ηλεκτρονικου ταχυδρομειου σας (email)">
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Αφηστε μας το μηνυμα σας :)"></textarea>
                        </div>
                        <button id="submit-contact-en" type="submit">Αποστολη</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
